*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: RGB(32, 33, 36);
}

.logo{
    width: 20%;
    height: 120px;
    display: flex;
    margin-top: 50px;
    margin-left: 40%;
}

.insNome{
    margin-left: 40%;
    color: rgb(53, 119, 97);
}

[name="nome"]{
    display: block;
    text-align: center;
    font-size: 19px;
    border-radius: 15px;
    margin-top: 10px;
    margin: 10px auto; /*o auto centraliza e aplica mais 10 px de margin*/
    width: 20%;
    height: 30px;
    margin-bottom: 10px;

}

[name="email"]{
    text-align: center;
    font-size: 19px;
    border-radius: 15px;
    margin-top: 10px;
    display: block;
    margin: 10px auto;
    width: 20%;
    height: 30px;
    margin-bottom: 10px;
}

[name="mensagem"]{
    resize: vertical;
    font-size: 19px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    margin-left: 40%;
    width: 20%;
    height: 120px;
    padding: 10px;
    margin-bottom: 10px;
    
}

[name="envio"]{
    font-size: 19px;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    display: inline-block;
    margin-left: 40%;
    width: 20%;
    height: 30px;
    background-color: rgb(53, 119, 97);
    color: rgb(232, 233, 235);
    
    
}